<div 
  class="heroBannerContainer" 
  [ngStyle]="user.heroPhoto ? { 'background-image': 'url(' + user.heroPhoto + ')'} : { 'background-image': 'url(' + defaultBannerImg + ')'}"
>
  <div class="overlay">
    <ProfilePicture [photo]="user.profilePhoto"></ProfilePicture>
    <div class="name" *ngIf="user.firstName">{{user.firstName}} {{user.lastName}}</div>
    <div class="name" *ngIf="!user.firstName">{{user.username}}</div>
    <div>Status: On The Road (This needs to be dynamic)</div>
    <div class="location">Medellin, Colombia</div>
  </div>
</div>