.postTypePopover {
  ion-backdrop {
    opacity: 0!important;
  }
  .popover-content {
    @extend %popoverContent;
    width: 225px !important;

    PostTypePopover {

      .popoverContainer {
        @extend %popoverList;

        .popoverItem {
          padding: 10px!important;

          .popoverLabel {
            font-size: 20px;
          }
        }
      }
    }
  }
}
