<PageWrapper>
  <div class="junctureBannerContainer">
    <div class="banner" [ngStyle]="{ 'background-image': 'url(' + bannerImg + ')'}">
      <div class="bannerTitle">{{junctureData?.name}}</div>
      <div class="bannerSubtitle">{{junctureData?.city}}, {{junctureData?.country}}</div>
    </div>
  </div>

  <div class="infoContainer">
    <div class="mapContainer">
      <agm-map 
        [zoomControl]="false"
        [disableDefaultUI]="true"
        [streetViewControl]="false"
        [mapDraggable]="false"
        [scrollwheel]="false"
        [fitBounds]="latlngBounds" 
        [styles]=mapStyle
        [latitude]="junctureData?.lat" 
        [longitude]="junctureData?.lon"
        [zoom]="zoomLevel"
        mapTypeId="terrain" 
      >
        <agm-data-layer 
          [geoJson]="geoJsonObject" 
          (layerClick)="clicked($event)" 
          [style]="dataLayerStyle"
          *ngIf="isGPX"
        ></agm-data-layer>
        <agm-marker 
          *ngIf= "!isGPX"
          [latitude]= "junctureData?.lat" 
          [longitude]= "junctureData?.lon" 
          [iconUrl]= "{
            url: junctureData?.markerImg || 'https://www.shareicon.net/data/256x256/2016/11/14/852173_circle_512x512.png',
            anchor: {x: 18, y: 18},
            size: {width: 32, height: 32},
            scaledSize: {width: 32, height: 32}
          }"
        ></agm-marker>
      </agm-map>
    </div>
    <div class="statsContainer" *ngIf="isGPX">
      <h2>Juncture Statistics</h2>
      <div class="statsGrid">
        <div class="statWrapper" *ngFor="let stat of stats;">
          <div class="innerWrapper">
            <ion-icon [name]="stat.icon" [style.color]="stat.iconColor"></ion-icon>
            <div class="statData">
              <div class="statLabel">{{stat.label}}</div>
              <div class="statValue">{{stat.value}} <span>{{stat.unitOfMeasure}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chartsContainer" *ngIf="isGPX && inited">
    <div>
      <chart
        type="line"
        [chartOptions]="distanceChartOptions"
        [chartData]="distanceChartData"
      ></chart>
    </div>
    <div>
      <chart
        type="line"
        [chartOptions]="timeChartOptions"
        [chartData]="timeChartData"
      ></chart>
    </div>
  </div>
</PageWrapper>