postwrapper {
  width: 100%;

  .postContentWrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    h3 {
      margin-bottom: 0;
    }
    .authorWrapper {
      margin: 5px 0 0;
      font-size: 16px;

      span {
        cursor: pointer;
      }
    }
    .postSandbox {
      img {
        width: 100%!important;
      }
    }
    .bottomRow {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .dataContainer {
        display: flex;
        align-items: center;

        .statContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 10px;
  
          ion-icon {
            font-size: 24px;
            color: #bbb;
          }
          > div {
            font-weight: bold;
          }
        }
      }
    }
    .moreContainer {
      display: block;
      margin-top: 60px;

      .moreWrapper {
        flex: 3;

        .header {
          font-size: 24px;
          margin-bottom: 25px;
        }
      }
      .signupWrapper {
        flex: 2;
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 30px auto;

        newsletter {
          margin: 0 auto
        }
      }
    }
  }
}
@include respond-to(tiny) {
  postwrapper {
    .postContentWrapper {
      .postSandbox {
        img {
          width: 300px!important; 
        }
      }
    }
  }
}
@include respond-to(small) {
  postwrapper {
    .postContentWrapper {
      .moreContainer {
        display: flex;

        .signupWrapper {
          margin: 0 0 0 15px;
        }
      }
    }
  }
}