postwrapper {
  .postContentWrapper {
    max-width: 730px;
    width: 100%;

    .postSandbox {
      img {
        width: 100%!important;
      }
    }
  }
}
@include respond-to(tiny) {
  postwrapper {
    .postContentWrapper {
      .postSandbox {
        img {
          width: 300px!important; 
        }
      }
    }
  }
}