uploadgpx {

  .gpxUploadContainer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    ion-icon {
      font-size: 42px;
      color: mapGet($basecolor, dark);
    }
    ion-icon, .uploadMsg {
      transition: .3s;
      font-weight: bold;
    }
    input#gpx {
      display: inline-block;
      width: 100%;
      padding: 100px 0 0 0;
      height: 100px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .gpxUploadContainer:hover {

    ion-icon, .uploadMsg {
      color: var(--secondary);
    }
  }
}
