.expandedModal {

  .modal-wrapper {
    width: 100vw;
    height: 100vh;

    expandedmodal {
      .modalContainer {
        background: mapGet($basecolor, white);
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
    
        .closeModal {
          cursor: pointer;
          position: absolute;
          background: mapGet($basecolor, black);
          top: 15px;
          right: 15px;
          z-index: 10;
          opacity: .6;
    
          ion-icon {
            color: mapGet($basecolor, white);
            padding: 0 5px;
            font-size: 32px;
          }
        }
        .imgWrapper {
          position: relative;

          .forwardBtn, .backBtn {
            position: absolute; 
            top: calc(50% - (50px / 2));
            cursor: pointer;
            background: rgba(0,0,0,.4);
            padding: 0 5px;
  
            ion-icon {
              color: mapGet($basecolor, white);
              font-size: 50px;
            }
          }
          .forwardBtn {
            right: 15px;
          }
          .backBtn {
            left: 15px;
          }
          .imgOverlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: mapGet($basecolor, white);
            background: rgba(0,0,0,.65);
            font-size: 4vh;
            padding: 15px 10px;
            min-height: 75px;
          }
          .photoCredit {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background: rgba(0,0,0,.65);
            color: white;
            font-weight: bold;
            padding: 5px;

            span {
              cursor: pointer;
            }
          }
          .counterContainer {
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }
      }
    }
  }

  @include respond-to(small) {
    .modal-wrapper {
      left: calc(50% - (370px \ 2));
      top: calc(50% - (250px \ 2));
      width: 750px;
      height: 500px;

      .imgOverlay {
        font-size: 5vh!important;
        padding: 25px 20px!important;
        min-height: 150px!important;
      }
    }
  }
  @include respond-to(medium) {
    .modal-wrapper {
      left: calc(50% - (500px \ 2));
      top: calc(50% - (333px \ 2));
      width: 1000px;
      height: 666px;
    }
  }
}

