tags {

  .tagsContainer {

    .tag {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      margin: 15px -6px 4px 6px;
      z-index: 0;
      line-height: 16px;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: bold;

      &::before { 
        transform: skewX(25deg);
        position: absolute;
        height: 23px;
        line-height: 16px;
        top: 0;
        left: 0;
        content: "";
        z-index: -1;
        background: #fff;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      .label {
        padding: 8px 14px 0px 14px;
        box-sizing: border-box;
      }
    }
    .tag:first-child {
      margin-left: 0;

      .label {
        padding-left: 0
      }
    }
    .tag:nth-child(odd) {
      color: var(--primary);

      &::before { 
        border-top: solid 2px var(--primary);
        border-right: solid 2px var(--primary);
      }
    }
    .tag:nth-child(even) {
      color: var(--secondary);

      &::before { 
        border-top: solid 2px var(--secondary);
        border-right: solid 2px var(--secondary);
      }
    }
  }

  @include respond-to(small) {

  }
}
