<PageWrapper [attr.style]="sanitizer.bypassSecurityTrustStyle('--secondary:' + settingsService.secondaryColor)" [collapsibleNav]="false">
  <div class="contentWrapper">
    <div class="header">
      <div>{{tripData?.name}} Timeline</div>
    </div>
    <div class="rangeContainer" [style.position]="junctureService.displayTripNav ? 'fixed' : 'static'">
      <div class="rangeWrapper">
          <ion-range 
          min="0" 
          max="100" 
          [(ngModel)]="saturation" 
          [pin]="true"
        ></ion-range>
        <div class="startCircle"></div>
        <div class="endCircle"></div>
      </div>
    </div>
    <div class="timelineContainer">
      <div class="junctureContainer" *ngFor="let juncture of tripData?.tripToJuncturesByTripId.nodes; let i = index;">
        <div class="imgGroup" *ngIf="i % 2 === 0">
          <div>{{juncture.junctureByJunctureId.arrivalDate | date:'mediumDate'}}</div>
          <div class="junctureImg" [ngStyle]="{ 'background-image': 'url(' + juncture.junctureByJunctureId.markerImg + ')'}"></div>
        </div>
        <div class="dataGroup" [style.text-align]="i % 2 === 0 ? 'left' : 'right'">
          <div class="junctureTitle">{{juncture.junctureByJunctureId.name}}</div>
          <div class="junctureLocation">{{juncture.junctureByJunctureId.city}}, {{juncture.junctureByJunctureId.country}}</div>
          <div class="junctureDescription">{{juncture.junctureByJunctureId.description | truncate:[100, '...']}}</div>
        </div>
        <div class="imgGroup" *ngIf="i % 2 !== 0">
          <div class="junctureImg" [ngStyle]="{ 'background-image': 'url(' + juncture.junctureByJunctureId.markerImg + ')'}"></div>
          <div>{{juncture.junctureByJunctureId.arrivalDate | date:'mediumDate'}}</div>
        </div>
      </div>
    </div>
  </div>
</PageWrapper>