mypacknavsection {

  .paneContainer {
    width: 100%;

    > div {
      width: 100%;
      display: flex;
      justify-content: space-around;

      ion-icon {
        height: 32px;
        width: 32px;
        font-size: 32px;
        margin: 15px 0;
        transition: .3s;
      }
    }
    .paneSectionBtn {
      font-size: 16px;
      font-weight: bold;
      transition: .3s;
      cursor: pointer;
    }
    .paneSectionBtn:hover {
      color: var(--secondary);
    }
    .paneSectionHeader {
      margin-bottom: 30px;
    }
    .signedOutContainer {
      line-height: 20px;
      margin-top: 75px;

      > div:first-child {
        flex: 1;
        text-align: center;

        .paneSectionContent {
          cursor: pointer;

          .loginDescription {
            padding: 0 20px 20px;
            max-width: 400px;
          }
          .paneSectionBtn {
            margin-top: 20px;
          }
        }
        .paneSectionContent:hover {
          .paneSectionBtn {
            color: var(--secondary);
          }
        }
      }
      > div:last-child {
        flex: 1;
        display: flex;

        .paneSectionContent {
          margin-top: 15px;
        }
      }
    }
    .signedInContainer {

      .paneSectionHeader {
        margin-bottom: 10px;
      }
      .profile {
        flex: 1;

        .profileWrapper {
          cursor: pointer;

          .signedInUser {
            transition: .3s;
          }
        }
        .profileWrapper:hover {
          .signedInUser {
            color: var(--secondary);
          }
        }
        .profilePhotoContainer {
          margin: 10px auto;
        }
      }
      .quickLinks {
        flex: 1;

        .paneOptionWrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          > div {
            padding: 0 !important;

            .linkLabel {
              transition: .3s;
            }
          }
          > div:hover {

            ion-icon, .linkLabel {
              color: var(--secondary);
            }
          }
        }
      }
      .recent {
        flex: 3;
        display: none !important;

        .paneSectionContent {
          width: 100%;
          display: flex;

          .miniSectionLabel {
            color: var(--secondary);
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: bold;
          }
          .leftContainer {
            flex: 3;
            display: flex;
            flex-direction: column;

            > div {
              flex: 1;
            }
            .tripContainer {
              height: 200px;

              .tripCardContainer {
                height: 170px;
              }
            }
            .juncturesContainer {
              margin-top: 15px;

              .bubblesWrapper {
                display: flex;

                juncturebubble {
                  .bubbleContainer {
                    height: 175px;
                    width: 175px;

                    .junctureImg {
                      height: 100px;
                      width: 100px;
                      margin: 5px auto;
                    }
                    .infoWrapper {
                      > div:first-child {
                        font-size: 18px;
                      }
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          .rightContainer {
            flex: 3;
            margin-left: 20px;
          }
          .emptyContainer {
            text-align: center;
            width: 50%;
            margin: 20px auto 0;
            font-size: 18px;
          }
        }
      }
      profilepicture {
        .profileContainer {
          margin: 15px 0;
        }
      }
    }
  }
  @include respond-to(medium) {
    ion-icon {
      height: 48px !important;
      width: 48px !important;
      font-size: 48px !important;
    }
    .paneContainer {
      .signedInContainer {
        .recent {
          display: flex !important;
        }
      }
    }
  }
  @include respond-to(small) {

  }
}
