<div class="paneContainer" [attr.style]="sanitizer.bypassSecurityTrustStyle('--secondary:' + settingsService.secondaryColor)">
  <div *ngIf="!userService.signedIn" class="signedOutContainer">
    <div class="paneSection">
      <div class="paneSectionHeader">Sign Up</div>
      <div class="paneSectionContent" (click)="signinUser()">
        <div><ion-icon name="md-person"></ion-icon></div>
        <div class="loginDescription">Looks like you aren't signed into an account yet. Login or signup to become a POMB member and start chronicling your journey.</div>
        <div class="paneSectionBtn">Get Started</div>
      </div>
    </div>
    <div class="paneSection benefits">
      <div class="paneSectionHeader">Benefits</div>
      <div class="paneSectionContent">
        <div class="benefitWrapper" *ngFor="let benefit of benefits;">
          <div><ion-icon name="{{benefit.icon}}"></ion-icon></div>
          <div class="benefitDescription">{{benefit.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userService.signedIn" class="signedInContainer">
      <div class="paneSection profile">
        <div class="paneSectionHeader">Profile</div>
        <div>Welcome Back {{userService.user.firstName || userService.user.username}}</div>
        <div 
          class="profilePhotoContainer" 
          [ngStyle]="userService.user ? { 'background': 'url(' + userService.user.currentAccount?.profilePhoto + ')'} : { 'background': 'black'}"
        ></div>
        <div (click)="navigate('admin')">Admin</div>
        <div (click)="logout()" class="paneSectionBtn">Logout</div>
      </div>
      <div class="paneSection quickLinks">
        <div class="paneSectionHeader">Quick Links</div>
        <div class="paneOptionWrapper">
          <div 
            *ngFor="let option of quickLinks;" 
            class="paneOption boldFont" 
            (click)="navigate(option.value)"
          >
            <ion-icon [name]="option.icon"></ion-icon>
            <div class="linkLabel">{{option.label}}</div>
          </div>
        </div>
      </div>
      <div class="paneSection recent">
        <div class="paneSectionHeader">Recent Activity</div>
        <div class="paneSectionContent">
          
        </div>
      </div>
    </div>
</div>