<div class="paneContainer">
  <div *ngIf="!userService.signedIn">
    <div class="paneSection">
      <div class="paneSectionHeader">Sign Up</div>
      <div class="paneSectionContent">
        Looks like you aren't signed into an account yet. Login or signup to become a POMB member and start chronicling your journey.
      </div>
      <div class="paneSectionBtn" (click)="signinUser()">Get Started</div>
    </div>
    <div class="paneSection">
      <div class="paneSectionHeader">Benefits</div>
      <div class="paneSectionContent">
        With a POMB account you will have the capability at your fingertips to archive your trip through stylish blog posts, an informative map of where you've been and where you're going, and share the moments you care about with loved ones. Signup is quick and unlocks all these features and more.
      </div>
    </div>
  </div>
  <div *ngIf="userService.signedIn">
      <div class="paneSection">
        <div class="paneSectionHeader">Profile</div>
        <div>Welcome Back {{userService.user.firstName || userService.user.username}}</div>
        <div (click)="navigate('userAdmin')">User Admin</div>
        <div (click)="navigate('admin')">Admin</div>
        <div (click)="logout()">Logout</div>
      </div>
      <div class="paneSection">
        <div class="paneSectionHeader">Quick Links</div>
        <div class="paneOptionWrapper">
          <div 
            *ngFor="let option of quickLinks;" 
            class="paneOption boldFont" 
            [style.color]="settingsService.secondaryColor"
          >
            <span (click)="navigate(option.value)">{{option.label}}</span>
          </div>
        </div>
      </div>
      <div class="paneSection">
        <div class="paneSectionHeader">Settings</div>
        <div class="paneSectionContent">
          
        </div>
        <div class="paneSectionBtn" (click)="navigate('settings')">Go To Settings</div>
      </div>
    </div>
</div>