grid {
  width: 100%;
  max-width: 1280px;
  
  .gridContainer {
    width: 100%;
    padding: 1px;

    .card {
      height: 110px;
      padding: 8px;
      margin: 1px;
      background-position: center;
      background-size: cover;

      &.img {
        cursor: pointer;
      }
    }
    
    @include respond-to(tiny) {
      .card {
        margin: 1px;
        height: 375px;
        padding: 0; 
  
        &.smallCard {
          flex-direction: column;
  
          .cardThumb {
            flex: 7;
          }
          .contentContainer {
            flex: 3;
            padding: 16px;
  
            .contentTitle {
              font-size: 22px;
            }
          }
        }
        &.largeCard {
          
          .cardThumb {
            flex: 1;
          }
          .contentContainer {
            flex: 1;
            padding: 32px;
            text-transform: uppercase;
  
            .contentTitle {
              font-size: 56px;
            }
          }
        }
      }
    }
  }

  //Made custom classes for our cards to size them appropriately. 
  @include respond-to(tiny) {
    .gridContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      
      > .card {
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;

        &.largeCard {
          flex-basis: calc(100% - 2px);
        }
        &.mediumCard {
          flex-basis: calc(50% - 2px);
        }
        &.smallCard {
          flex-basis: calc(50% - 2px);
        }
        &.tinyCard {
          flex-basis: calc(30% - 2px);
        }
      }
      > .card:nth-child(1)::before {
        background-color: var(--primary);
        bottom: 30px;
        content: "";
        height: 3px;
        left: 122px;
        position: absolute;
        width: 40%;
        z-index: 4;
      }
      > .card:nth-child(1)::after {
        background-color: var(--primary);
        bottom: 0;
        content: "";
        height: 3px;
        left: 65px;
        position: absolute;
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        width: 38px;
        z-index: 4;
      }
      > .card:nth-child(4)::before {
        background-color: var(--secondary);
        bottom: 30px;
        content: "";
        height: 3px;
        position: absolute;
        right: 122px;
        width: 40%;
        z-index: 4;
      }
      > .card:nth-child(4)::after {
        background-color: var(--secondary);
        bottom: 0;
        content: "";
        height: 3px;
        position: absolute;
        right: 65px;
        -webkit-transform: rotate(-120deg);
        transform: rotate(-120deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        width: 38px;
        z-index: 4;
      }
    }
  }
  @include respond-to(medium) {
    .gridContainer {
      
      > .card {

        &.largeCard {
          flex-basis: calc(65% - 2px);
        }
        &.smallCard {
          flex-basis: calc(35% - 2px);
        }
      }
    }
  }
}