grid {
  width: 100%;
  max-width: 1280px;
  
  .gridContainer {
    width: 100%;
    padding: 1px;
  }

  //Made custom classes for our cards to size them appropriately. 
  @include respond-to(tiny) {
    .gridContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      
      > gridcard {
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 1;

        &.largeCard {
          flex-basis: calc(100% - 2px);
        }
        &.mediumCard {
          flex-basis: calc(50% - 2px);
        }
        &.smallCard {
          flex-basis: calc(50% - 2px);
        }
        &.tinyCard {
          flex-basis: calc(30% - 2px);
        }
      }
    }
  }
  @include respond-to(medium) {
    .gridContainer {
      
      > gridcard {

        &.largeCard {
          flex-basis: calc(65% - 2px);
        }
        &.smallCard {
          flex-basis: calc(35% - 2px);
        }
      }
    }
  }
}