heroBanner {
  width: 100%;
  display: none;

  .heroBannerContainer {
    background-size: cover;
    background-position: center;
    padding: 64px 16px;
    text-align: center;
    color: mapGet($basecolor, white);
    text-shadow: 2px 2px mapGet($basecolor, black);
    border-bottom: solid 1px mapGet($basecolor, border);

    .siteTitle {
      font-size: 84px;
      
    }
    .subHeader {
      font-size: 20px;
    }
  }
}
@include respond-to(tiny) {
  heroBanner {
    display: block;
  } 
}