heroBanner {
  width: 100%;
  display: none;

  .heroBannerContainer {
    background-size: cover;
    background-position: center;
    height: 300px;
    text-align: center;
    color: mapGet($basecolor, white);
    border-bottom: solid 1px mapGet($basecolor, border);

    .overlay {
      background: rgba(0,0,0,.2);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .siteTitle {
      font-size: 84px;
      
    }
    .subHeader {
      font-size: 20px;
      text-shadow: 2px 2px mapGet($basecolor, black);
    }
  }
}
@include respond-to(tiny) {
  heroBanner {
    display: block;
  } 
}