page-trip {

  // modding the nav bar for this page
  .pageWrapperContainer {
    margin: 0;

    .navBarContainer {
      position: absolute;
      background: transparent;
    }
  }

  .contentWrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    .subnavContainer {
      top: 0;
      left: 0;
      background: white;
      z-index: 10;

      &.fixed {
        position: fixed;
        width: 100vw;
      }
      .borderWrapper {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        border-bottom: solid 1px mapGet($basecolor, darkened);

        .subnavWrapper {
          margin: 0 auto;
          width: 97%;
          display: flex;
          justify-content: space-between;

          > div {
            cursor: pointer;
            transition: .3s;
            flex: 1;
            padding: 30px 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
          }
          > div:hover {
            color: var(--secondary);
          }
        }
      }
    }
    .sectionsWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;

      .widthWrapper {
        width: 100%;
        max-width: 1000px;

        .section {
          // min-height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 75px;
  
          .navLink {
            transition: .3s;
            cursor: pointer;
            text-decoration: underline;
            font-size: 20px;
            margin: 15px 0 30px;
            text-align: center;
          }
          .navLink:hover {
            color: var(--secondary);
          }
          .noResultsContainer {
            font-size: 36px;
            margin: 200px 0;
            color: mapGet($basecolor, dark);
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 10px;
            width: 100%;
        
            ion-icon {
              font-size: 90px;
              margin-bottom: 10px;
            }
          }
          .sectionHeader {
            font-size: 32px;
            text-align: center;
            position: relative;
            padding-bottom: 15px;
          }
          .sectionHeader:after {
            border-bottom: .2rem solid var(--secondary);
            bottom: 0;
            content: "";
            display: block;
            left: 50%;
            margin-left: -1.5rem;
            position: absolute;
            width: 3rem;
          }
          &.glance {
            
            .glanceHeader {
              font-size: 45px;
              margin-bottom: 10px;
              align-self: flex-start;
            }
            .glanceContent {

            }
            .toggleBtn {
              display: flex;
              align-items: center;
              cursor: pointer;
              font-size: 18px;
              padding: 15px;
              border-top: solid 1px mapGet($basecolor, darkened);
              margin-top: 10px;
  
              ion-icon {
                margin-left: 10px;
                font-size: 12px;
              }
            }
          }
          &.guide {
  
            .sectionHeader {
              margin-bottom: 25px;
            }
          }
          &.map {
            width: 100%;
            
            .mapContainer {
              margin-top: 20px;
              position: relative;

              agm-map {
                width: 100vw;
                height: calc(90vh - 80px);
              }
              .mapBtn {
                width: 300px;
                position: absolute;
                bottom: 10%;
                left: calc(50% - 150px);
                background: var(--secondary);
                color: white;
                text-align: center;
                padding: 20px 0;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .2s;

                ion-icon {
                  margin-right: 20px;
                  font-size: 24px;
                  transition: .2s;
                }
              }
              .mapBtn:hover {

                ion-icon {
                  transform: translate(-5px, 0);
                }
              }
            }
          }
          &.posts {
            .postsContainer {
              margin: 50px;
              width: 100%;

              .bottomWrapper {
                display: flex !important;
                margin-top: 10px;

                > * {
                  margin-right: 5px !important;
                }
              }
            }
          }
          &.junctures {

            juncturebubbles {

              .juncturesContainer {
                margin: 100px 0;
              }
            }
          }
          &.photos {

            .sectionContent {
              width: 100%;
              margin: 50px 0 25px;
            }
          }
        }
      }
    }
  }
  

  @include respond-to(tiny) {
    .sectionHeader {
      font-size: 48px!important;
    }
  }
  @include respond-to(small) {
    .borderWrapper {
      width: 100%;

      .subnavWrapper {
        width: 70% !important;
      }
    }
  }
}
