page-trip {

  .initedLayer {
    width: 100%;
    display: flex;
    flex-direction: column;

    agm-map {
      flex: 1;
      height: 40vh;
    }
    .juncturePane {
      min-height: calc(60vh - 40px); //40px is size of nav
      width: 100%;

      .paneHeader {
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        BackpackIcon {
          height: 32px;
          width: 32px;
          cursor: pointer;
        }
        div {
          cursor: pointer;
        }
      }
      .paneBanner {
        display: none;
      }
      .paneJunctureTracker {
        display: flex;
        justify-content: space-between;

        .trackerWrapper {

        }
        .junctureContainer {
          display: inline-block;
        }
      }
    }
  }

  @include respond-to(small) {
    .initedLayer {
      flex-direction: row;
  
      agm-map {
        height: calc(100vh - 40px); //40px is size of nav
      }
      .juncturePane {
        width: 40%;
        min-width: 500px;
        height: calc(100vh - 40px); //40px is size of nav

        .paneBanner {
          display: block;
          height: 360px;
          background-position: center;
          background-size: cover;
        }
      }
    }
  }
}
