<PageWrapper>
  <div *ngIf="inited" class="initedLayer">
    <agm-map 
      [zoomControl]="false"
      [disableDefaultUI]="true"
      [streetViewControl]="false"
      [fitBounds]="latlngBounds"
      [styles]=mapStyle
    >
      <agm-marker 
        *ngFor= "let marker of junctureMarkers;"
        [latitude]= "marker.lat" 
        [longitude]= "marker.lon" 
        (markerClick)="AgmMap.lastOpen?.close(); AgmMap.lastOpen = infoWindow;"
      >
        <!-- <agm-info-window [disableAutoPan]="true" #infoWindow>
          <map-popover [data]="marker" [config]="config"></map-popover>
        </agm-info-window> -->
      </agm-marker>
      <agm-polyline
        [editable]="false"
        strokeColor="#934000"
        strokeWeight="3"
      >
        <agm-polyline-point *ngFor="let point of junctureMarkers" [latitude]="point.lat" [longitude]="point.lon"></agm-polyline-point>
      </agm-polyline>
    </agm-map>
    <div class="juncturePane">

    </div>
  </div>
</PageWrapper>

