$basecolor: (
  white:    #fff,
  black:    #000,
  primary:    #93278F,
  secondary:  #00A99D,
  highlight:  #a0e2f8,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #d5d8dc,
  background: #ebebeb,
  darkened:   #ddd,
  border:     #333333
);
