$basecolor: (
  white:    #fff,
  black:    #000,
  primary:    #21bbee,
  secondary:  #2c343f,
  highlight:  #a0e2f8,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #d5d8dc,
  background: #ebebeb,
  darkened:   #ddd,
  border:     #e6e6e6
);
