<div *ngIf="dataReady">
  <ion-menu type="overlay" [content]="mycontent" [attr.style]="sanitizer.bypassSecurityTrustStyle('--secondary:' + settingsService.secondaryColor)">
    <ion-content>
      <ion-icon 
        name="close" 
        class="closeMenuBtn" 
        menuToggle
      ></ion-icon>
      <div class="logo">
        <span 
          (click)="routerService.navigateToPage('')" 
          class="gradientText"
          title="Home"
          [style.background-image]="'linear-gradient(to right, ' + settingsService.primaryColor + ', ' + settingsService.secondaryColor + ')'"
        >POMB</span>
      </div>
      <div class="listContainer">
        <div 
          *ngFor="let option of navListOptions" 
          class="boldFont option"
          (click)="navigate(option.path)"
          [style.color]="activeDashView === option.path ? settingsService.secondaryColor : null"  
        >
          <ion-icon [name]="option.icon"></ion-icon>
          <div>{{option.label}}</div>
        </div>
      </div>
      <div class="questionsContainer">
        <div>Questions or Feedback?</div>
        <div class="mailWrapper">
          <ion-icon name="mail"></ion-icon>
          <div (click)="router.navigateByUrl('/contact')">Email Support</div>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <div #mycontent class="dashboardContent">
    <ion-icon 
      (click)="openMenu()"
      class="menuToggleBtn" 
      name="menu"
      *ngIf="displayMenuToggle" 
    ></ion-icon>
    <page-useradmin-dashboard *ngIf="activeDashView === 'dashboard'"></page-useradmin-dashboard>
    <page-useradmin-trips *ngIf="activeDashView === 'trips'"></page-useradmin-trips>
    <page-useradmin-config *ngIf="activeDashView === 'config'"></page-useradmin-config>
    <page-useradmin-settings *ngIf="activeDashView === 'settings'"></page-useradmin-settings>
  </div>
</div>
