page-home {

  .mobileTopPost {
    width: 100%;
    color: black;
    background: white;

    .cardThumb {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .cardContent {
      padding: 20px 10px;

      .title {
        font-size: 28px;
        font-weight: bold;
      }
      .authorContainer {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        margin: 15px 0 10px;
      }
      .content {
        margin-top: 10px;
      }
    }
  }
  .gridContainer {

    gridCard:first-child {
      display: none;
    }
  }
  .more {
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }

  @include respond-to(small) {
    .mobileTopPost {
      display: none;
    }
    .gridContainer {

      gridCard:first-child {
        display: block;
      }
    }
    .rightColumn {
      display: flex!important;
    }
  }
}