page-home {

  HeroBanner {
    width: 100%;
    display: none; 
  }
  .homeContentContainer {
    width: 100%;
    max-width: 1280px;
    background: mapGet($basecolor, white);
    display: flex;
    justify-content: center;

    .contentWrapper {
      max-width: 1100px;
      width: 100%;
      display: flex;
      
      .leftColumn {
        flex: 1;
      }
      .rightColumn {
        width: 300px;
        display: none;
      }
    }
  }

  @include respond-to(tiny) {
    HeroBanner {
      display: block;
    }
  }
  @include respond-to(small) {
    .rightColumn {
      display: block!important;
    }
  }
}
