.galleryImgActionPopover {
  ion-backdrop {
    opacity: 0!important;
  }
  .popover-content {
    @extend %popoverContent;
    // width: 225px !important;

    GalleryImgActionPopover {

      .popoverContainer {
        padding: 5px;
        background: mapGet($basecolor, light);

        label {
          display: block;
          font-size: 16px;
        }
        textarea {
          width: 100%;
          background: mapGet($basecolor, white);
          border: none;
        }
        .btnRow {
          display: flex;
          justify-content: space-around; 

          > div {
            width: 40%;
            cursor: pointer;
            padding: 10px 0;
            text-align: center;
            transition: .2s;
          }
          > div:hover {
            opacity: .7;
          }
          .deleteBtn:hover {
            color: red; 
          }
        }
      }
    }
  }
}
