page-post {

  .topoWrapper {
    background: url('../../assets/images/topo.png') top center repeat-y;
    max-width: 1280px;
    background-size: 1280px;
    background-color: mapGet($basecolor, background);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}