gridcard {
  margin: 1px;

  .gridCardContainer {
    background: mapGet($basecolor, black);
    height: 375px;
    color: mapGet($basecolor, white);

    .cardThumb {
        background-position: center;
        background-size: cover;
        height: 100px;
        width: 100px;
    }
  }
}
