<div 
  class="layout-col horizontal-center" 
  style="background-color:white;height:100%;overflow:scroll" 
  [attr.style]="sanitizer.bypassSecurityTrustStyle('--secondary:' + settingsService.secondaryColor)"
>
  <div class="layout-col horizontal-center top-banner">
    <div class="dayofweek padding-5">{{currentMoment.format('dddd')}}</div>
    <div class="text-center padding-10">
      <div class="padding-5">
        <ion-icon class="arrow" name="arrow-back" (click)="setMonthBack()"></ion-icon>
        <span class="month padding-10">{{currentMoment.format('MMM')}}</span>
        <ion-icon class="arrow" name="arrow-forward" (click)="setMonthForward()"></ion-icon>
      </div>
      <div class="day padding-5">{{currentMoment.format('D')}}</div>
      <div class="text-center padding-5">
        <ion-icon class="arrow" name="arrow-back" (click)="setYearBack()"></ion-icon>
        <span class="year padding-10">{{currentMoment.format('YYYY')}}</span>
        <ion-icon class="arrow" name="arrow-forward" (click)="setYearForward()"></ion-icon>
      </div>
      <div class="timeContainer">
        <span *ngIf="timeModel.hour < 10" [style.margin-right]="'-5px'">0</span>
        <input type="number" max="23" min="0" [(ngModel)]="timeModel.hour" [style.margin-right]="'-10px'" />
        <span [style.margin-right]="'10px'">:</span>
        <span *ngIf="timeModel.minutes < 10" [style.margin-right]="'-5px'">0</span>
        <input type="number" max="59" min="0" [(ngModel)]="timeModel.minutes" />
      </div>
    </div>
  </div>
  <span class="month-year">{{currentMoment.format('MMMM YYYY')}}</span>
  <div class="calendar-item-container">
    <div class="layout-row day-item-header" style="width:100%;flex-wrap:wrap;text-align:center">
      <div>S</div>
      <div>M</div>
      <div>T</div>
      <div>W</div>
      <div>T</div>
      <div>F</div>
      <div>S</div>
    </div>
    <div 
      class="layout-row" 
      style="width:100%;flex-wrap:wrap;text-align:center" 
      *ngFor="let week of daysGroupedByWeek;"
    >
      <div 
        class="day-item" 
        [ngClass]="{'selected': day.isSelected, 'disabled': !day.isEnabled}" 
        *ngFor="let day of week;" 
        (click)="selectDate(day)"
      >{{day.momentDate.date()}}</div>
    </div>
  </div>
  <div class="layout-row btnRow">
    <div class="btn" (click)="cancel()">Cancel</div>
    <div class="btn" (click)="confirmDateSelection()">OK</div>
  </div>


</div>