.datepickerModal {

  .modal-wrapper {
    background: white;
    @media only screen and (min-height: 600px) and (min-width: 768px) {
      left: calc(50% - (600px/2)) !important;
      top: calc(50% - (600px/2)) !important;
      position: absolute !important;
      width: 600px !important;
      height: 600px !important;
    }

    datepickermodal {
      .layout-row{
          display: flex;
          flex-direction: row;
        }
    
        .layout-col{
          display:flex;
          flex-direction:column;
        }
        .horizontal-center{
          align-items:center;
        }
    
        .text-center{
          text-align: center;
        }
    
        .padding-5{
          padding:5px;
        }
        .padding-10{
          padding:10px;
        }
        .arrow{
          margin-left:10px;
          margin-right:10px;
          cursor: pointer;
        }
    
        .day-item-header{
          div{
            padding:10px;
            flex:1; 
            font-weight:bold;
          }
        }
        .day-item{
          flex:1;
          line-height:36px;
          min-height:36px;
          cursor: pointer;
          transition: .3s;
        }
        .day-item:hover {
          color: var(--secondary);
        }
        .selected{
          background: mapGet($basecolor, black);
          color: var(--secondary);
        }
        .disabled{
          color:#cfcfcf;
        }
    
        .dayofweek{
          font-size:1.5em;
        }
        .day{
          font-size:3em;
        }
        .month{
          font-size:1.5em;
        }
        .year{
          font-size:1.5em;
        }
        .month-year{
          font-size:1.3em;
          padding:10px;
        }
        .top-banner{
          background: mapGet($basecolor, black);
          color: var(--secondary);
          width:100%;
          padding:10px;
          min-height:250px;
        }
    
        .calendar-item-container{
          width:100%;
          padding:5px;
          min-height:262px;
        }
        .timeContainer {
          font-size: 2.5em;
          margin-top: 5px;
          margin-left: 25px;
    
          input {
            border: none;
            background: mapGet($basecolor, black);
          }
        }
        .btnRow {
          padding: 0 25px 25px 0;
          width:100%;
          display: flex;
          justify-content:flex-end;
          margin-bottom: 15px;
    
          .btn {
            margin-right: 10px;
            font-size: 18px;
            cursor: pointer;
            transition: .3s;
          }
          .btn:first-child {
            color: mapGet($basecolor, dark);
          }
          .btn:hover {
            color: var(--secondary);
          }
        }
    }
  }
}

