<div 
  class="navBarContainer" 
  [ngClass]="utilService.scrollDirection === 'down' ? 'hidden' : null" 
  [style.height]="isExpanded ? '60vh' : '40px'"
  (mouseleave)="navHover($event)"
>
  <div class="mobileWrapper">
    <div class="boldFont mobileLogo" (click)="routerService.navigateToPage('/')">POMB</div>
    <div (click)="openSearch()"><ion-icon name="ios-search"></ion-icon></div>
  </div>
  <div class="navBarWrapper">
    <div class="barWrapper">
      <div class="logoWrapper">
        <div 
          class="boldFont gradientText" 
          [style.background-image]="'linear-gradient(to right, ' + settingsService.primaryColor + ', ' + settingsService.secondaryColor + ')'" 
          (click)="routerService.navigateToPage('/')"
        >POMB</div>
      </div>
      <div class="sectionsWrapper">
        <div 
          *ngFor="let option of sectionOptions; let i = index;" 
          class="boldFont sectionOption"
          (click)="navigate(option.value)"
          (mouseenter)="navHover($event, i)"
        >{{option.label}}</div>
      </div>
      <div class="searchWrapper" (click)="openSearch()">
        <div><ion-icon name="ios-search"></ion-icon></div>
      </div>
    </div>
  </div>
  <div class="sectionInfoPane">
    <TravelNavSection *ngIf="activeSection?.label === 'Travel'"></TravelNavSection>
    <OutdoorsNavSection *ngIf="activeSection?.label === 'Outdoors'"></OutdoorsNavSection>
    <ExploreNavSection *ngIf="activeSection?.label === 'Explore'"></ExploreNavSection>
    <CommunityNavSection *ngIf="activeSection?.label === 'Community'" [socialOptions]="socialOptions"></CommunityNavSection>
    <ProfileNavSection *ngIf="activeSection?.label === 'Profile'"></ProfileNavSection>    
  </div>
</div>
<Search [isActive]="searchActive && !isExpanded"></Search>