$navbarHeight: 40px;

navBar {
  width: 100%;

  .navBarContainer {
    background: mapGet($basecolor, black);
    color: mapGet($basecolor, white);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    transition: all .3s ease-in-out; 
    overflow: hidden;

    &.hidden {
      transform: translateY(-$navbarHeight);
    }
    ion-icon {
      width: 16px;
      font-size: 22px;
      color: mapGet($basecolor, white);
      cursor: pointer;
    }
    .navBarWrapper {
      max-width: 1100px;
      width: 100%;
      height: $navbarHeight;
      position: absolute;
      top: 0;

      .barWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $navbarHeight;
        padding: 0 10px;

        > div {
          flex: 1;
        }
        > .sectionsWrapper {
          flex: 2;
          color: mapGet($basecolor, white);
          display: flex;
          justify-content: space-around;
          height: inherit;
          width: 70%;
          display: none;
          
          > div {
            cursor: pointer;
            height: inherit;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;

            &.active {
              color: var(--secondary);
            }
          }
          > div:hover {
            color: var(--secondary);
          }
        }
        .logoWrapper {
          font-size: 24px;
        }
        .searchWrapper {
          display: none;
          justify-content: center;
          align-items: center;

          .searchBtn {
            transition: .3s;
          }
          .searchBtn:hover {
            color: var(--secondary);
          }
          search {
            width: 0;
            transition: .5s;

            .searchContainer {
              height: 25px;
              border-radius: 5px;

              ion-icon {
                cursor: pointer;
                transition: .3s;
              }
              ion-icon:hover {
                color: var(--secondary);
              }
            }
          }
          &.active {
            search {
              width: 100%;
            }
            > div {
              display: none;
            }
          }
        }
        .mobilePrompt {
          width: 24px;
          text-align: right;

          ion-icon {
            font-size: 28px;
          }
        }
      }
    }
    .sectionInfoPane {
      background: mapGet($basecolor, border);
      width: 100%;
      height: calc(520px - 40px);
      position: absolute;
      top: $navbarHeight;

      .paneContainer {
        display: flex;
        justify-content: space-around;
        padding: 25px;
        max-width: 1400px;
        margin: 0 auto;

        .paneSection {
          display: flex;
          flex-direction: column;
          align-items: center;

          .paneSectionHeader {
            font-weight: 500;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: mapGet($basecolor, white);
            font-size: 22px;
          }
          .paneOptionWrapper {
            text-align: center;

            .paneOption {
              cursor: pointer;
              padding: 15px 0;
              font-size: 16px;
            }
            .paneOption:hover {
              opacity: .7;   
            }
          }
        }
      }
    }
  }
  @include respond-to(small) {
    .navBarContainer {
      display: flex;
      justify-content: center;

      .searchWrapper {
        display: flex!important;
      }
      .logoWrapper {

        > span {
          cursor: pointer;
        }
        > span:hover {
          opacity: .7;
        }
      }
      .sectionsWrapper {
        display: flex!important;
        width: 50% !important;
        
        > div {
          padding: 0 12px;
          font-size: 18px;
        }
      }
      .mobilePrompt {
        display: none;
      }
    }
  }
}
