$navbarHeight: 40px;

navBar {
  width: 100%;

  .navBarContainer {
    background: mapGet($basecolor, black);
    color: mapGet($basecolor, white);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    transition: all .3s ease-in-out; 
    overflow: hidden;

    &.hidden {
      transform: translateY(-$navbarHeight);
    }
    ion-icon {
      width: 16px;
      font-size: 22px;
      color: mapGet($basecolor, white);
      cursor: pointer;
    }
    .navBarWrapper {
      max-width: 1100px;
      width: 100%;
      height: $navbarHeight;
      position: absolute;
      top: 0;

      .barWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $navbarHeight;
        padding: 0 10px;

        ion-icon:hover {
          opacity: .7;
        }
        .sectionsWrapper {
          color: mapGet($basecolor, white);
          display: flex;
          justify-content: space-around;
          height: inherit;
          width: 70%;
          display: none;
          
          > div {
            cursor: pointer;
            height: inherit;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          > div:hover {
            opacity: .7;
          }
        }
        .logoWrapper {
          font-size: 24px;
        }
        .searchWrapper {
          width: 48px;
          display: none;
          justify-content: center;
        }
        .mobilePrompt {
          width: 24px;

          ion-icon {
            font-size: 28px;
          }
        }
      }
    }
    .sectionInfoPane {
      background: mapGet($basecolor, border);
      width: 100%;
      height: calc(60vh - 40px);
      position: absolute;
      top: $navbarHeight;

      .paneContainer {
        display: flex;
        justify-content: space-around;
        padding: 25px;

        .paneSection {
          display: flex;
          flex-direction: column;
          align-items: center;

          .paneSectionHeader {
            font-weight: 500;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: mapGet($basecolor, white);
            font-size: 22px;
          }
          .paneOptionWrapper {
            text-align: center;

            &.socialOptions {
              display: flex;
              align-items: center;
              flex-direction: column;

              a {
                text-decoration: none;
                display: block;
                display: flex;
                align-items: center;

                ion-icon {
                  margin-right: 10px;
                }
              }
            }
            .paneOption {
              cursor: pointer;
              padding: 15px 0;
              font-size: 16px;
            }
            .paneOption:hover {
              opacity: .7;   
            }
          }
        }
      }
    }
  }
  @include respond-to(tiny) {
    .navBarContainer {
      display: flex;
      justify-content: center;

      .socialWrapper, .searchWrapper {
        display: flex!important;
      }
      .logoWrapper {

        > div {
          cursor: pointer;
        }
        > div:hover {
          opacity: .7;
        }
      }
      .sectionsWrapper {
        display: flex!important;
        
        > div {
          padding: 0 12px;
          font-size: 18px;
        }
      }
      .mobilePrompt {
        display: none;
      }
    }
  }
  @include respond-to(small) {
    .sectionsWrapper {
      width: 50% !important;
    }
  }
}
