$navbarHeight: 40px;

navBar {
  width: 100%;

  .navBarContainer {
    background: mapGet($basecolor, black);
    color: mapGet($basecolor, white);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    transition: all .3s ease-in-out; 
    overflow: hidden;

    &.hidden {
      transform: translateY(-$navbarHeight);
    }
    ion-icon {
      width: 16px;
      font-size: 22px;
      color: mapGet($basecolor, white);
      cursor: pointer;
    }
    .mobileWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: $navbarHeight;

      .mobileLogo {
        font-size: 24px;
        margin-left: 16px;
      }
      .right {
        display: flex;

        > div {
          margin-right: 16px;
        }
      }
    }
    .navBarWrapper {
      max-width: 1100px;
      width: 100%;
      height: $navbarHeight;
      position: absolute;
      top: 0;

      .barWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $navbarHeight;

        ion-icon:hover {
          opacity: .7;
        }
        .sectionsWrapper {
          color: mapGet($basecolor, white);
          display: flex;
          justify-content: space-around;
          height: inherit;
          width: 60%;
          
          > div {
            cursor: pointer;
            height: inherit;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          > div:hover {
            opacity: .7;
          }
        }
        .socialWrapper {
          padding: 0 18px;
          display: none;
  
          a {
            margin-right: 16px;
            text-decoration: none;
          }
        }
        .logoWrapper {
          display: none;
        }
        .profileWrapper {
          width: 48px;
          display: none;
          justify-content: center;
        }
        .searchWrapper {
          width: 48px;
          display: none;
          justify-content: center;
        }
      }
    }
    .sectionInfoPane {
      background: mapGet($basecolor, border);
      width: 100%;
      height: calc(60vh - 40px);
      position: absolute;
      top: $navbarHeight;

      .paneContainer {
        display: flex;
        justify-content: space-around;
        padding: 25px;

        .paneSection {
          display: flex;
          flex-direction: column;
          align-items: center;

          .paneSectionHeader {
            font-weight: 500;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: mapGet($basecolor, white);
            font-size: 22px;
            cursor: pointer;
          }
          .paneSectionHeader:hover {
            opacity: .7;
          }
          .paneOptionWrapper {
            text-align: center;

            .paneOption {
              cursor: pointer;
              padding: 10px 0;
              font-size: 16px;
            }
            .paneOption:hover {
              opacity: .7;   
            }
          }
        }
      }
    }
  }
  @include respond-to(tiny) {
    .navBarContainer {
      display: flex;
      justify-content: center;

      .mobileWrapper {
        display: none;
      }
      .socialWrapper, .profileWrapper, .searchWrapper {
        display: flex!important;
      }
      .logoWrapper {
        font-size: 24px;
        display: block!important;

        > div {
          cursor: pointer;
        }
        > div:hover {
          opacity: .7;
        }
      }
      .sectionsWrapper {
        
        > div {
          padding: 0 12px;
          font-size: 18px;
        }
      }
    }
  }
}
