gallery {

  .galleryContainer {
    @include flexbox();
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    .cardWrapper {
      width: 100%;
    }
  }
  @include respond-to(tiny) {
    .cardWrapper {
      width: 50%!important;
    }
  }
  @include respond-to(small) {
    .cardWrapper {
      width: 33.33%!important;
    }
  }
}
