<div 
  class="searchContainer" 
  [ngClass]="hasBorder ? 'searchBorder' : ''" 
  [style.border]="hasBorder ? isFocused ? 'solid 1px ' + settingsService.secondaryColor : 'solid 1px #bbb' : 'none'"
>
  <form 
    class="searchWrapper" 
    (submit)="submitQuery($event)"
  >
    <ion-icon 
      class="searchIcon" 
      name="search"
      (click)="closeSearch()"
    ></ion-icon>
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="value"
      (focus)="isFocused = true"
      (focusout)="isFocused = false"
      name="search"
      #searchInput
    />
    <ion-icon 
      class="closeIcon" 
      name="close"
      (click)="emptySearch()"
    ></ion-icon>
  </form>
</div>