<div class="paneContainer">
  <div class="paneSection">
    <div class="paneSectionHeader">Travel Hub</div>
  </div>
  <div class="paneSection">
    <div class="paneSectionHeader">On Two Wheels</div>
  </div>
  <div class="paneSection">
    <div class="paneSectionHeader">Solo Travel 101</div>
    <div class="paneOptionWrapper socialOptions">
      <a 
        *ngFor="let option of socialOptions;" 
        [href]="option.url" 
        target="_blank"
        class="paneOption boldFont" 
        [style.color]="settingsService.secondaryColor"
      >
        <ion-icon [name]="option.icon" [style.color]="settingsService.secondaryColor"></ion-icon>
        <span>{{option.label}}</span>
      </a>
    </div>
  </div>
  <div class="paneSection">
    <div class="paneSectionHeader">Planning</div>
  </div>
</div>