<div class="modalContainer">
  <div class="headerInfo">
    <div class="headerTitle">Edit Post</div>
    <div class="optionsWrapper">
      <div 
        *ngFor="let option of containerOptions; let i = index;" 
        [style.font-weight]="i === activeContainerOption ? 'bold' : null"
        (click)="activeContainerOption = i"
      >{{option}}</div>
    </div>
  </div>
  <div class="contentContainer" *ngIf="activeContainerOption === 0">
    <div class="titleInputWrapper">
      <input
        placeholder="Enter a post title..."
        type="text"
        [(ngModel)]="postModel.postTitle"
      />
    </div>
    <div class="textEditorWrapper">
      <div [froalaEditor]="editorOptions" [(froalaModel)]="postModel.content"></div>
    </div>
  </div>
  <div class="optionsContainer" *ngIf="activeContainerOption === 1">
    <div class="topContainer">
      <div class="left">
          <div class="segmentLabel">Primary Photo</div>
          <label for="file">
            <input 
              type="file" 
              id="file"
              (change)="fileChangeEvent($event)" 
            />
            <div *ngIf="!primaryLoading && !thumbnailImage">
              <ion-icon name="md-cloud-upload"></ion-icon>
              <div>Add an image</div>
            </div>
            <div *ngIf="primaryLoading">
              <ion-spinner></ion-spinner>
              <div>Processing image...</div>
            </div>
            <div 
              class="thumbnailImage" 
              [ngStyle]="{ 'background-image': 'url(' + thumbnailImage + ')'}" 
              *ngIf="thumbnailImage"
            ></div>
          </label>
        </div>
        <div class="right">
          <div class="segmentLabel">Tags</div>
        </div>
    </div>
    <div class="subtitleContainer">
      <div class="segmentLabel">Subtitle</div>
      <textarea placeholder="Add something..." rows="4"></textarea>
    </div>
    <div class="postTypeContainer" (click)="presentPopover($event)">
      <div class="typeTitle">{{postOptions[activePostOption].name}}</div>
      <div>{{postOptions[activePostOption].secondaryDescription}}</div>
    </div>
  </div>
  <div class="footerBtns">
    <div 
      *ngFor="let option of btnOptions; let i = index;" 
      (click)="clickBtn(i)"
      class="boldFont"
    >{{option}}</div>
  </div>
</div>