createpostmodal {

  .modalContainer {
    background: mapGet($basecolor, light);
    height: 100%;
    width: 100%;
    position: relative;

    .headerInfo {
      padding: 16px 32px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px mapGet($basecolor, border-light);

      .headerTitle {
        text-transform: uppercase;
        font-size: 16px;
      }
      .optionsWrapper {
        display: flex;

        > div {
          cursor: pointer;
          margin-left: 10px;
        }
        > div:hover {
          opacity: .7;
        }
      }
    }
    .optionsContainer {
      padding: 33px 33px 0;


      .topContainer {
        display: flex;
        margin-bottom: 20px;

        .left {
          flex: 1;

          label {
            height: 200px;
            width: 300px;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: mapGet($basecolor, white);
            color: mapGet($basecolor, dark);
            cursor: pointer;
            transition: color .8s;
    
            input {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              z-index: -1;
            }
            > div {
              text-align: center;

              ion-icon {
                font-size: 36px;
              }
            }
            ion-spinner {
              width: 36px;
              height: 36px;

              svg {
                circle {
                  stroke: mapGet($basecolor, dark);
                }
              }
            }
            .thumbnailImage {
              width: 100%;
              height: 100%;
            }
          }
          label:hover {
            color: mapGet($basecolor, black);
          }
        }
        .right {
          flex: 1;
          margin-left: 15px;
        }
      }
      .subtitleContainer {
        width: 100%;
        margin-bottom: 30px;

        textarea {
          width: 100%;
          border: none;
        }
      }
      .postTypeContainer {
        cursor: pointer;
        float: right;
        text-align: right;

        .typeTitle {
          font-size: 18px;
        }
      }
      .segmentLabel {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
    .contentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .titleInputWrapper {
        margin-top: 22px;
        width: 90%;

        input {
          padding: 11px 0;
          font-size: 16px;
          line-height: 22px;
          border: none;
          width: 100%;
        }
      }
      .textEditorWrapper {
        width: 90%;
        margin: 44px 0 22px;
        overflow: scroll;
      }
      .contentOtherContainer {
        display: flex;
        width: 90%;

        .tagsContainer {
          flex: 7;
        }
        
      }
    }
    .footerBtns {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      
      > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px 0;
        border-top: solid 1px mapGet($basecolor, border-light);
        border-right: solid 1px mapGet($basecolor, border-light);
        cursor: pointer;
      }
      > div:last-of-type {
        border-right: none;
      }
      > div:hover {
        background: mapGet($basecolor, dark);
      }
    }
  }
}

.createPostModal {
  
  @include respond-to(small) {
    .modal-wrapper {
      top: 2%!important;
      height: 95%!important;
      width: 750px!important;
      left: calc(50% - (750px/2));
    }
  }
}

.confirmAlert {

  .alert-wrapper {
    max-width: 350px!important;

    .alert-button-group-vertical {
      flex-direction: row!important;

      button {
        color: mapGet($basecolor, black);
      }
      button:hover {
        opacity: .7;
      }
    }
  }
}