juncturemodal {
  .modalContainer {
    background: mapGet($basecolor, white);
    height: 100%;
    width: 100%;
    position: relative;

    .initWrapper {
      height: 100%;

      .header {
        background: mapGet($basecolor, black);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
        color: mapGet($basecolor, white);
  
        > * {
          flex: 1;
        }
        ion-icon {
          color: mapGet($basecolor, white);
          padding: 5px;
          font-size: 18px;
          cursor: pointer;
        }
        .headerTitle {
          font-size: 18px;
          text-align: center;
        }
        .saveContainer {
          font-size: 18px;
          display: flex;
          justify-content: flex-end;
  
          .wrapper {
            width: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            .saveBtn {
              position: relative;
              text-align: left;
              cursor: pointer;
    
              .text {
                cursor: pointer;
              }
              .statusTag {
                position: absolute;
                bottom: -8px;
                right: -5px;
                font-size: 10px;
              }
            }
          }
        }
      }
      .mapContainer {
        height: 35%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .mapInited {
          height: 100%;
          width: 100%;

          agm-map {
            height: 100%;
            width: 100%;
          }
          .target {
            height: 20px;
            width: 20px;
            background: red;
            border-radius: 50%;
            position: absolute;
            top: calc(50% - (20px / 2));
            left: calc(50% - (20px / 2));
          }
          .directions {
            position: absolute;
            top: 5px;
            right: 5px;
            opacity: .7;
            font-size: 16px;
          }
        }
      }
      .timeContainer {
  
        .radioContainer {
          display: flex;
  
          input {
            opacity: 0;
          }
          input[type="radio"]:checked+label {
            color: mapGet($basecolor, black);
            font-size: 1.1em;
          }
          label {
            transition: .3s;
            color: mapGet($basecolor, border);
          }
        }
      }
      .galleryLoadWrapper {
        display: flex;
        justify-content: center;
        margin: 15px 0;

        > div {
          text-align: center;
          cursor: pointer;

          ion-icon {
            font-size: 36px;
          }
        }
        > div:hover {
          opacity: .7;
        }
      }
    }
  }
}

