<div class="modalContainer">
  <div class="initWrapper">
    <div class="header">
      <ion-icon name="close" (click)="viewCtrl.dismiss()" title="Close"></ion-icon>
      <div class="headerTitle">Create Juncture</div>
      <div class="saveContainer">
        <div class="wrapper">
          <div class="saveBtn">
            <div class="boldFont text" (click)="saveJuncture()">Save</div>
            <div class="statusTag" [style.color]="settingsService.secondaryColor">{{junctureSaveType}}</div>
          </div>
          <ion-icon name="md-arrow-dropdown" (click)="presentPopover($event)"></ion-icon>
        </div>
      </div>
    </div>
    <div class="mapContainer">
      <div class="mapInited" *ngIf="inited">
        <agm-map 
          [zoomControl]="false"
          [latitude]="coords.lat" 
          [longitude]="coords.lon"
          [disableDefaultUI]="true"
          [streetViewControl]="false"
          [styles]=mapStyle
          [zoom]="zoomLevel"
          (centerChange)="moveCenter($event)"
        ></agm-map>
        <div class="target"></div>
        <div class="directions">Center map on juncture location</div>
      </div>
      <div *ngIf="!inited"><ion-spinner name="crescent"></ion-spinner></div>
    </div>
    <div class="modalSection">
      <label class="junctureLabel" for="junctureName">Juncture Name</label>
      <input 
        type="text"
        [(ngModel)]="junctureModel.name" 
        id="junctureName"
        class="junctureTextInput"
        [ngClass]="junctureModel.name ? 'valid' : 'invalid'"
      />
    </div>
    <div class="timeContainer modalSection">
      <div class="timeOptions">
        <div [style.color]="activeTimeOption === 'current' ? 'black' : '#7f7f7f'" [style.font-weight]="activeTimeOption === 'current' ? 'bold' : null" (click)="toggleTimeOption('current')">Use Current Time</div>
        <div [style.color]="activeTimeOption === 'custom' ? 'black' : '#7f7f7f'" [style.font-weight]="activeTimeOption === 'custom' ? 'bold' : null" (click)="toggleTimeOption('custom')">Use Custom Time</div>
      </div>
      <div class="timeDisplay">
        <div class="junctureLabel">Juncture Date</div>
        <div 
          [style.border-bottom]="activeTimeOption === 'custom' ? 'solid 1px #333333' : null" 
          [style.cursor]="activeTimeOption === 'custom' ? 'pointer' : null" 
          class="input" 
          (click)="presentDatepickerModal($event)"
        >{{junctureModel.time | date: 'yMMMMd'}}</div>
      </div>
    </div>
    <div class="descriptionContainer modalSection">
      <div class="junctureLabel">Juncture Content</div>
      <textarea [(ngModel)]="junctureModel.description" rows="6"></textarea>
    </div>
    <div class="galleryLoadWrapper">
      <div (click)="presentGalleryUploaderPopover()">
        <ion-icon name="md-cloud-upload"></ion-icon>
        <div>Add images</div>
      </div>
    </div>
    <div class="gridWrapper">
      <div class="gridUnitWrapper" *ngFor="let galleryPhoto of galleryPhotos; let i = index;">
        <div class="imgWrapper">
          <div [ngStyle]="{ 'background-image': 'url(' + galleryPhoto.photoUrl + ')'}"></div>
          <ion-icon name="md-create" title="Edit gallery photo" (click)="presentGalleryPopover($event, i)"></ion-icon> 
        </div>
      </div>
    </div>
  </div>
</div>