<div class="modalContainer">
  <div 
    class="closeModal" 
    name="close"
    (click)="onCloseModal()"
  >
    <ion-icon name="close"></ion-icon>
  </div>
  <div class="locationContainer">
    Need an option to select current location for check in or some other. If some other I guess we will need to run through google search for lat/lon. Polar steps has slick thing that lets you move the pin on the map exactly. Could be nice
  </div>
  <div>Name of our check in. Perhaps prepopulate with city</div>
  <div class="timeContainer">
    Time/date of checkin
    <form class="radioContainer">
      <div *ngFor="let option of timeOptions">
        <input name="option.label" [id]="option.label" type="radio" [(ngModel)]="formModel.time" [value]="option.value"/>
        <label name="option.label" [for]="option.label">{{option.label}}</label>
      </div>
    </form>
  </div>
  <div>Content of the checkin</div>
  <div>img upload aream Lets say max 5. Need to consider quality...</div>
  <div>Selector to tie into a blog post. Must be published posts</div>
  <div (click)="submit()">Submit</div>
</div>