<div class="carouselContainer" [attr.style]="sanitizer.bypassSecurityTrustStyle('--secondary:' + settingsService.secondaryColor)">
  <div
    class="slide" 
    *ngFor="let slide of data; let i = index;" 
    [ngStyle]="{ 'background-image': 'url(' + slide.imgURL + ')'}" 
    [style.opacity]="displayedIndex === i ? 1 : 0"
  >
    <div class="slideTitle">{{title}}</div>
    <div class="slideTagline">{{slide.tagline}}</div>
    <div class="flagsContainer" *ngIf="flags.length">
      <div *ngFor="let flag of flags;">
        <img [src]="flag.url" [title]="flag.name" />
      </div>
    </div>
    <div 
      class="modalLauncherBtn boldFont" 
      *ngIf="btnLabel" 
      [style.background]="settingsService.secondaryColor"
      (click)="onBtnClick()"
    >
      {{btnLabel}}
      <ion-icon name="ios-arrow-down"></ion-icon>
    </div>
  </div>
  <div class="statsContainer" *ngIf="stats.length">
    <div class="innerWrapper">
      <div class="statWrapper" *ngFor="let stat of stats;">
        <ion-icon [name]="stat.icon"></ion-icon>
        <div class="statValue">{{stat.value | number}}</div>
        <div class="statLabel">{{stat.label}}</div>
      </div>
      <LikeCounter 
        [totalLikes]="tripData.totalLikes" 
        [userLikes]="tripData.likesArr" 
        [assetId]="tripData.tripId" 
        assetType="trip"
        [hasLabel]="true"
        color="white"
        *ngIf="tripData"
      ></LikeCounter>
    </div>
  </div>
</div>