<div class="carouselContainer">
  <div
    class="slide" 
    *ngFor="let slide of data; let i = index;" 
    [ngStyle]="{ 'background-image': 'url(' + slide.imgURL + ')'}" 
    [style.opacity]="displayedIndex === i ? 1 : 0"
  >
    <div class="slideTitle">{{title}}</div>
    <div class="slideTagline">{{slide.tagline}}</div>
    <div class="flagsContainer" *ngIf="flags.length">
      <div *ngFor="let flag of flags;">
        <img [src]="flag.url" [title]="flag.name" />
      </div>
    </div>
    <div 
      class="modalLauncherBtn boldFont" 
      *ngIf="btnLabel" 
      [style.background]="settingsService.secondaryColor"
      (click)="onBtnClick()"
    >
      {{btnLabel}}
      <ion-icon name="ios-arrow-down"></ion-icon>
    </div>
  </div>
</div>