<div 
  class="pageWrapperContainer" 
  [style.background]="backgroundColor" 
  [ngClass]="topo ? 'topo' : ''"
  [style.padding-bottom]="displayFooter ? '275px' : 0"
  scrollDirective
>
<!-- On the display footer thing above making 275 for 25px of margin over the footer height 250 -->
  <HeroBanner *ngIf="displayHeroBanner"></HeroBanner>
  <NavBar 
    *ngIf="displayNav"
    (searchTrigger)="searchIsActive = !searchIsActive"
    [collapsibleNav]="collapsibleNav"
  ></NavBar>
  <ng-content></ng-content>
  <Footer *ngIf="displayFooter"></Footer>
</div>