page-useradmin-trips {
  height: 100%;
  width: 100%;

  .viewContent {

    .contentGroup {     

      &.trips {

        .tripsWrapperContainer {

          .trip {
            border-bottom: solid 1px #ddd;
            // color: white;
  
            .editBtn {
              cursor: pointer;
              margin-left: 0;
              padding: 0;
              border: none;
              font-weight: bold;
            }
            &.active {
  
              .tripHeader {

                .tripName {
                  color: var(--secondary);
                }
                ion-icon {
                  transform: rotate(90deg);
                }
              }
              .juncturesWrapper {
                padding-left: 20px;
  
                .juncture {
                  height: 60px;
                  opacity: 1;
                  margin-bottom: 10px;

                  .junctureInfoWrapper {
                    max-width: 180px !important;

                    .junctureLocale {
                      font-size: 11px;
                    }
                  }
                }
                .juncture:last-child {
                  margin-bottom: 0;
                }
                .noJuncturesContainer {
                  opacity: 1;
                  height: 120px;
                  margin-top: 10px;
                }
              }
            }
            .tripHeader {
              display: flex;
  
              .tripInfo {
                flex: 1;
                padding: 15px 0;
                display: flex;
                align-items: center;

                .leftWrapper {
                  flex: 1;
                  
                  .tripName {
                    cursor: pointer;
                    font-size: 24px;
                    font-weight: bold;
                  }
                  .timeWrapper {
                    display: flex;
                    align-items: center;

                    .status {
                      text-transform: uppercase;
                      margin-left: 10px;
                      display: none;
                    }
                  }
                }
              }
              .arrowWrapper {
                width: 30%;
                text-align: right;
                cursor: pointer;
                padding: 15px 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
  
                ion-icon {
                  transition: .5s;
                  font-size: 24px;
                  margin-left: 10px;
                }
              }
            }
            .juncturesWrapper {
              overflow: hidden;
              transition: .5s;
  
              .juncture {
                transition: .5s;
                font-size: 16px;
                height: 0;
                opacity: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 1px #ddd;

                .editBtn {
                  width: 100px;
                  padding: 0;
                }
              }
              .juncture:first-child {
                border-top: solid 1px #ddd;
              }
              .juncture:last-child {
                border-bottom: none;
              }
              .noJuncturesContainer {
                transition: .5s;
                height: 0;
                opacity: 0;
                font-size: 18px;
                color: mapGet($basecolor, dark);
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0 10px;
                width: 100%;

                ion-icon {
                  font-size: 45px;
                  margin-bottom: 10px;
                }
              }
            }
          }
          .noTripsContainer {
            font-size: 24px;
            color: mapGet($basecolor, dark);
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 10px;
            width: 100%;

            ion-icon {
              font-size: 60px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  @include respond-to(small) {
    .viewContent {
      
      .arrowWrapper {
        width: 25% !important;
      }
      .timeWrapper {
        .status {
          display: block !important;
        }
      }
      .editBtn {
        border: solid 1px black !important;
        margin-left: 30px !important;
        padding: 10px 25px !important;
        width: auto !important;
        font-size: 14px;
      }
      .junctureInfoWrapper {
        max-width: auto !important;
        
        .junctureLocale {
          font-size: 14px !important;
        }
      }
    }
  }
}