<div class="pageContainer" [attr.style]="sanitizer.bypassSecurityTrustStyle('--secondary:' + settingsService.secondaryColor)">
  <div class="viewHeader">
    <div>Trips</div>
  </div>
  <div class="viewContent">
    <div class="contentGroup trips">
      <div class="contentGroupHeader">
        <div class="contentGroupTitle">Trips</div>
        <div class="contentGroupSubtitle">View and manage your trips.</div>
      </div>
      <div class="contentGroupContent">
        <div class="tripsWrapperContainer">
          <div class="trip" *ngFor="let trip of tripsData; let i = index;" [ngClass]="activeTrip === i ? 'active' : ''">
            <div class="tripHeader">
              <div class="tripInfo">
                <div class="leftWrapper">
                  <div class="tripName" (click)="routerService.navigateToPage('/trip/' + trip.id)">{{trip.name}}</div>
                  <div class="timeWrapper">
                    <div>{{daysTraveling(i)}}</div>
                    <div class="status">{{trip.endDate ? 'Complete' : 'In Progress'}}</div>
                  </div>
                </div>
                <div class="editBtn" (click)="editTrip(i)">Edit Trip</div>
              </div>
              <div class="arrowWrapper" (click)="activeTrip === i ? activeTrip = null : activeTrip = i">
                <div>See Junctures</div>
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </div>
            </div>
            <div class="juncturesWrapper">
              <div *ngFor="let juncture of trip.juncturesByTripId.nodes; let i = index;" class="juncture">
                <div class="junctureInfoWrapper">
                  <div class="junctureName" (click)="routerService.navigateToPage('/juncture/' + juncture.id)">{{juncture.name}} - {{juncture.arrivalDate | date : 'mediumDate'}}</div>
                  <div>{{juncture.city}}<span *ngIf="juncture.country">, </span>{{juncture.country}}</div>
                </div>
                <div class="editBtn" (click)="editJuncture(i)">Edit Juncture</div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>