page-admin {
    > div {
        height: 100%;
    }
    ion-menu {
        ion-content {
            background: mapGet($basecolor, black)!important;
            color: mapGet($basecolor, white)!important;

            .closeMenuBtn {
                position: absolute;
                top: 20px;
                left: 20px;
                color: mapGet($basecolor, white);
                font-size: 24px;
                cursor: pointer;
            }
            .listContainer {
                // background: $color4;
                margin-top: 80px;
                
                > div {
                    padding: 15px 20px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    ion-icon {
                        flex: 1;
                        text-align: center;
                    }
                    > div {
                        flex: 7;
                    }
                }
                > div:hover {
                    // background: $color5;
                }
            }
            .questionsContainer {
                padding: 35px 25px;

                > div {
                    display: flex;
                    align-items: center;
                    padding: 5px 0;

                    > ion-icon {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    .dashboardContent {
        position: relative;
        height: 100%;

        .menuToggleBtn {
            position: absolute;
            top: 28px;
            left: 25px;
            font-size: 24px;
            cursor: pointer;
            color: mapGet($basecolor, white);
            z-index: 99;
        }
    }
    // @media screen and (max-width: $break-medium) {
    //     .menu-inner{
    //         width: 35% !important;
    //     }
    //     .ion-content{
    //         transform: translate3d(35%, 0px, 0px) !important;
    //     }
    // }
    // @media screen and (max-width: $break-small) {
    //     .menu-inner{
    //         width: 40% !important;
    //     }
    //     .ion-content{
    //         transform: translate3d(40%, 0px, 0px) !important;
    //     }
    // }
    // @media screen and (max-width: $break-xsmall) {
    //     .menu-inner{
    //         width: 80% !important;
    //     }
    //     .ion-content{
    //         transform: translate3d(80%, 0px, 0px) !important;
    //     }
    // }
}