<div class="paneContainer">
  <div class="paneSection images">
    <div class="paneSectionHeader">Recent Images From Around POMB</div>
    <div class="paneContent" *ngIf="settingsService.recentPhotos.length">
      <Grid [elements]="settingsService.recentPhotos" [gridConfig]="gridConfiguration" [isPost]="false"></Grid>
    </div>
  </div>
  <div class="paneSection">
    <div class="paneSectionHeader">Featured Trip</div>
    <div class="paneContent">
      <div class="tripWrapper" *ngIf="settingsService.featuredTrip">
        <TripCard [trip]="settingsService.featuredTrip"></TripCard>
      </div>
      <div class="socialWrapper">
        <div class="paneSectionHeader">@packonmyback</div>
        <div class="socialOptions">
          <a 
            *ngFor="let option of socialOptions;" 
            [href]="option.url" 
            target="_blank"
            rel="noopener"
            class="paneOption boldFont" 
            [style.color]="settingsService.secondaryColor"
          >
            <ion-icon [name]="option.icon" [style.color]="settingsService.secondaryColor"></ion-icon>
            <span>{{option.label}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>